<div class="grid-wrapper">
  <div class="the-links">
    <a ui-sref="home">Grocery List</a>
    <a ui-sref="fridgeList">Fridge</a>
    <a ui-sref="expiredList">Expired</a>
  </div>

  <h1>Grocery List</h1>
  <div class="list-container">
    <div class= "the-list" ng-repeat="item in home.activeList">
      <div ng-hide= "item.editButtonClicked">
        <input ng-click="home.list.completeItem(item)" class="the-checkbox" type="checkbox" />
        {{item.name}}
        <button class="edit-item-button" ng-click="home.beginEdit(item)" ng-model="editButton">Edit</button>
        <button class="delete-item-button" ng-click="home.deleteItem(item)">Delete</button>
      </div>
    <form class= "edit-form" ng-show="item.editButtonClicked" ng-submit="home.list.editItemName(item, item.name)">
      <input type="text" ng-model= "item.name" />
    </form>
  </div>
    <form class= "new-item-form" ng-submit="home.createNewItem(home.newItemName)">
      <input class="new-item-name" ng-model="home.newItemName" type="text" placeholder="Enter a New Item" autofocus/>
      <button class="new-item-submit" type="submit">Submit</button>
    </form>
  </div>
</div>
